 .topnav {
    overflow: hidden;
   background-color:darkblue;
    position:  fixed;
  top:0;
  width: 100%;   
}
.topnav a {
  float: left;
  display: block;
  color:white;
  text-align: center;
  padding: 16px 30px;
  text-decoration: none;
  font-size: 21px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
.topnav .icon {
  display: none;
} 
 body{
            margin: 0;
           background-color:whitesmoke;
           }
       table{ 
            margin-top: 200px;
             position: absolute;
             right:45%;
 }
  #divh1 {
        font-family: 'Gilda Display', serif;
        font-size: 16px;
        text-align: right;
         color: white;
         margin-right: 20px;
         margin-top: 20px;    
}
 h2{
     margin-top: 100px;
             position: absolute;
             margin-left: auto;
             margin-right: auto;
             font-size: 23px;
             color: #64C5CC;
}
    #div5 {
   border: 0px black;
        background-color: black;
        padding: 14px;
        margin: 0px;
        margin-top: 0px;
        display: block;
        color: aliceblue;
        text-align: center;
        font-size: 15px;
        width: 100%;
        position: fixed; 
        bottom: 0px;
    }
          @media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display:none;}
  .topnav a.icon {
    float:right;
    display: block;
  }
  }
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: inline-block;
    text-align: left;
    font-size: 12px;
  }
         #divh1 {
          
                 visibility: hidden  !important; 
        }
         #div5{
            width: 100%;
            font-size: 8px;
        }
}
     
